default:
  image: cronn/nodejs-chrome-firefox

stages:
  - build
  - test

Build:
  stage: build
  script:
    - npm install
    - npm run build
  tags:
    - docker-linux-runner

Test:
  stage: test
  script:
    - npm run test:single-run
