<div id="slide-container" class="row" ng-app="sliderElement">
        <h2 class="col-12 p-4 text-center">Slide Carousel Example - AngularJS</h2>
        <ng-transclude class="col-12 p-0"></ng-transclude>
        <div id="slide-arrows" class="row w-100 col-12 align-content-between">
        <i class="fas fa-chevron-circle-left text-white ml-5 mr-auto text-left h-100 fa-3x" ng-click="$ctrl.previousSlide()"></i>
        <i class="fas fa-chevron-circle-right text-white mr-5 ml-auto h-100 fa-3x" ng-click="$ctrl.nextSlide()"></i>
        </div>
</div>