#slide-container{
    position: relative;
    width: 100vw;
}

#slide-arrows{
    position: absolute;
    top:50%;
    bottom:50%;
    z-index: 5;
    height: 5rem;
    width: 5rem;
}

#slide-arrows button:focus{
    outline: none;
}

#slide-arrows button svg{
    box-shadow: 0 0 20px #494a49;
}

ng-transclude img {
    height: 500px;
    width: 100%;
    object-fit: cover;
}
ng-transclude{
    width: 100vw;
}

#autoplay-checkbox{
    height: 1rem;
    width: 1rem;
}
