#slide-container{
    position: relative;
}

#left-arrow{
    position: absolute;
    top:50%;
    bottom:50%;
    z-index: 5;
    height: 3rem;
    width: 3rem;
}
#slide-arrows{
    position: absolute;
    top:50%;
    bottom:50%;
    z-index: 5;
    height: 5rem;
    width: 5rem;
}